<configuration>
    <system.webServer>
        <rewrite>
                <rules>
                    <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^$" ignoreCase="false" />
                    <action type="Redirect" url="/index.php" />
                </rule>

                    <rule name="Imported Rule 2" stopProcessing="true">
                        <match url="^(.*)$" ignoreCase="false" />
                            <conditions logicalGrouping="MatchAll">
                                <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                                <add input="{R:1}" pattern="^(index\.php|images|robots\.txt|css|docs|js)" ignoreCase="false" negate="true" />
                            </conditions>
                        <action type="Rewrite" url="/index.php?{R:1}" />
                    </rule>

                </rules>
            </rewrite>
        </system.webServer>
</configuration>